body {
  margin: 0;
  padding: 0;

  /* This game relies on quick clicking, which normally causes things to be
   * selected, so break out the hammer and block all user selection
   */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
